.nav-link {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
}

.navbar-collapse > .navbar-nav > .nav-item > .nav-link {
  color: white
}

.navbar-custom {
  background-image: linear-gradient(to right, $banner-red , $banner-orange);
  height: 60px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  background-color: $hamburger-orange;
  border: none;
  outline-color: $banner-orange;
  margin: .3em 0;
  margin-left: 1px;
  border-radius: 3px;
} 

.fa-bars {
  color: white;
}

h1 {
  color: white;
  font-size: 2em;
}

ul {
  justify-content: space-between;
}

.dropdown-divider {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #f3f3f3;
}

.dropdown-item {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2rem;
}

ul.social {
  list-style-type: none;
  margin: auto 0;
  float: right;
}

.social-item {
  list-style: none;
  margin: 0 .5em;
  float: left;
  height: inherit;
  display: flex;
  align-items: center;
}

@include atMedium {
  .navbar .container a, a:hover {
    color: white;
  }
  
  .navbar .navbar-nav .nav-link-container a, a:hover {
    color: white;
  }

  body > .navbar > .container {
    flex-direction: row-reverse;
    height: 60px;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .show > .nav-link {
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }

  .dropdown-menu {
    margin: .76rem 0 0;
    border: 0;
    padding: 0;
    box-shadow: 0px 3px 6px 0px rgba(80,80,80,0.5);
    .dropdown-divider:first-of-type {
      border: 0;
    }
  }

  .dropdown-menu > .dropdown-item {
    margin: 0;
    background-color: #f8f8f8;
    color: #505050;
    padding: 1.7em;
    &:hover {
      color: white;
      background-color: $hamburger-orange;
    }
  }

  .navbar .navbar-nav .nav-link-container > .dropdown-menu > a {
    color: #505050;
    font-size: .7em;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }

  .nav-item {
    height: inherit;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: none;
}

.nav-inner-container {
  max-width: 550px;
}

@include atSmall {
  .dropdown-menu {
    padding: 0;
  }

  .navbar-collapse {
    background-color: white;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -10px;
    margin-top: 0;
    justify-self: stretch;
  }

  .nav-link-container {
    justify-self: stretch;
    background-color: #f8f8f8;
    margin: 0 auto;
    border-bottom: 1px solid #f3f3f3;
    max-width: 550px;
  }

  .nav-item {
    padding: 0 1em;
  }

  .nav-item:last-of-type > .nav-link-container {
    border: none;
  }

  .dropdown-toggle::after {
    float: right;
    margin-right: 2em;
    margin-top: .4em;
    vertical-align: .255em;
    content: "";
    border: solid #919191;
    padding: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .navbar-light .navbar-nav .nav-link {
    color: #505050;
    &:hover {
      color: white;
      background-color: $hamburger-orange;
    }
  }

  .container {
    max-width: none;
  }

  .navbar {
    .container {
      justify-content: center;
    }
  }

  .nav-container {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-menu {
    border: inherit;
    border-bottom: none;
    background-color: inherit;
  }
  
  .dropdown-menu .dropdown-item {
    font-size: .7em;
    font-weight: bold;
  }
  
  .nav-link-container > .dropdown-menu > .dropdown-item,
  .navbar-nav > .nav-item > .show > .nav-link {
    color: #505050;
    &:hover {
      color: white;
      background-color: $hamburger-orange;
    }
  }
}

a > .fas, .fab {
  color: white;
  font-size: .8em;
  padding: 0 .2em;
}

ul.social {
  margin-left: auto;
  margin-bottom: auto;
  height: inherit;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.06);
  padding-left: .5em;
  border-left: 1px solid #f2826a;
  border-right: 1px solid #f2826a;
  // @media (min-width: 977px) {
  //   margin-right: .2em;
  // }
}

.social-item:last-of-type {
  margin-right: 0;
}

.navbar {
  padding: 0 1rem;
}

.nav-container {
  height: 60px;
  display: flex;
  align-items: center;
}

.search {
  padding: 0 1.3em;
  margin: 0 .5em;
  background-color: rgba(255,255,255,0.06);
  border-left: 1px solid #edada0b5;
  border-right: 2px solid #edada0b5;
}